#ErrorDocument 404 /404
DirectoryIndex /handler.php # does this work?

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/user.php$
RewriteRule . /handler.php [L]
</IfModule>

Options -Indexes
